* {
  text-align: center;
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto; /*Centering the container;*/
}
h1 {
  font-size: 40px;
  color: #1098ad;
  border-bottom: 10px solid #1098ad;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
}
a:link {
  font-size: 16px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-bottom: 10px solid #1098ad;
  border: 5px solid black;
  border-radius: 25px;
  display: inline-block;
  margin-top: 10px;
  padding: 0 13px;
}

a:hover {
  color: darkslategray;
  background-color: white;
  border: 5px solid black;
}
.imran-pic {
  width: auto;
  border-radius: 15px;
}
